# Function

Retrun
None Return
Required Arguments
Optional Required Arguments
Defualt Function : it does not Arguments
Generator Function : it will check the condition in the run time. Generates value one by one. Always remember the old values
Lmabda Function :one line function. it has no name. it is used for one time use. 
Recursive Function : it call in its own body

# User define function

In [11]:
def piaic_intr():
    print("PIAIC")
    print("AI")
piaic_intr()

PIAIC
AI

In [12]:
def piaic_intr1():
    txt = """
    PIAIC
    Courses
    AI
    CN
    """
    return txt
print(piaic_intr1())

    PIAIC
    Courses
    AI
    CN

In [13]:
a = piaic_intr1() + "I am "
print(a)

    PIAIC
    Courses
    AI
    CN
    I am

In [15]:
data = piaic_intr1()
print(data)

    PIAIC
    Courses
    AI
    CN

In [16]:
data1 = piaic_intr()
print(data1)

PIAIC
AI
None

# Required Arguments

In [19]:
def additon(num1, num2):
    return num1 + num2
print(additon(1,2))

3

# optional Argument

In [21]:
# if we donot give any parameters it will take the arguments in the declaration area
def additon(num1 = 1, num2 = 2):
    return num1 + num2
print(additon())
print(additon(1,4))
print(additon(5,2))

3
5
7

In [24]:
# so rice and meat are required arguments and tomoto is optional argument
def making_biryani(rice,meat, tomoto = '0.5 KG'):
    txt = f"""
    Boling rice {rice}...
    Cook the {meat} meat...
    make tamoto {tomoto}...
    """
    return txt
print(making_biryani('sela','chicken'))

    Boling rice sela...
    Cook the chicken meat...
    make tamoto 0.5 KG...

In [25]:
print(making_biryani('basmati', 'Ghosht'))

    Boling rice basmati...
    Cook the Ghosht meat...
    make tamoto 0.5 KG...

# optional Arguments 2 unlimited

In [33]:
def my_sum(num1, *num2):
    print(num1, num2)
    return num1 
my_sum(7, 3,4,5,6,7,7,8)

7 (3, 4, 5, 6, 7, 7, 8)

7

In [37]:
def my_sum(*num2):
    print(num2)
    return sum(num2)
my_sum(7, 3,4,5,6,7,7,8)

(7, 3, 4, 5, 6, 7, 7, 8)
(7, 3, 4, 5, 6, 7, 7, 8) ()

(7, 3, 4, 5, 6, 7, 7, 8)

In [38]:
# Unzipping the list 
def my_sum_new(num1, num2,num3,num4):
    print(num1, num2,num3,num4)
l = [1,2,3,4]    
my_sum_new(*l)

1 2 3 4

In [39]:
def student_card(Name,Father_Name,rollnumber, course,):
    txt = f"""
    PIAIC Student Card
    Roll Number : {rollnumber}
    Name : {Name}  Father Name : {Father_Name}
    Course : {course}
    """
    return txt
print(student_card('Sohail Danyal', 'Qamar Zaman', '15302', 'AI'))

    PIAIC Student Card
    Roll Number : 15302
    Name : Sohail Danyal  Father Name : Qamar Zaman
    Course : AI

In [42]:
student_data = student_card('Sohail Hamza', 'Qamar Zaman', '15302', 'AI')

In [43]:
print(student_data)

    PIAIC Student Card
    Roll Number : 15302
    Name : Sohail Hamza  Father Name : Qamar Zaman
    Course : AI

In [50]:
print(student_card(Name= 'Sohail Danyal',Father_Name = 'Qamar Zaman',rollnumber= '15302',course = 'AI'))
print('**********Both are same*********')
s_data = {
    'Name': 'Danyal',
    'Father_Name': 'Qamar',
    'rollnumber': '15302',
    'course': 'AI'
    
}
print(student_card(**s_data)) # if we pass the arguments via dic

    PIAIC Student Card
    Roll Number : 15302
    Name : Sohail Danyal  Father Name : Qamar Zaman
    Course : AI

**********Both are same*********

    PIAIC Student Card
    Roll Number : 15302
    Name : Danyal  Father Name : Qamar
    Course : AI

In [46]:
l = ['Sohail', 'Qamar', '15302', 'AI']
student_card(*l)
print(student_card(*l)) # if we pass the arguments via list

    PIAIC Student Card
    Roll Number : 15302
    Name : Sohail  Father Name : Qamar
    Course : AI

# creating keyword argument unlimited

In [53]:
def new_dic(num1, num2, **abc):
    print(num1, num2, abc)
new_dic(2,3, name = 'sohail', fname = 'qamar', course = 'AI ' )

2 3 {'name': 'sohail', 'fname': 'qamar', 'course': 'AI '}

In [54]:
def new_dic1(num1, num2,*l, **abc):
    print(num1, num2,l, abc)
new_dic1(2,3,4,5,6,7, len = 5, name = 'sohail', fname = 'qamar')

2 3 (4, 5, 6, 7) {'len': 5, 'name': 'sohail', 'fname': 'qamar'}

# Lambda

In [55]:
def add(num1, num2):
    return num1 +num2
add(2,3)

5

In [56]:
# lambda arg1, arg2 : function_body
a = lambda num1,num2: num1 +num2
a(2,3)

5

In [61]:
data = [[1,'Z', 'A'], 
       [2,'Y', 'B'],
       [3,'X','C']]
sorted(data, key =lambda x:x[1])

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

In [62]:
sorted(data, key =lambda x:x[0])

[[1, 'Z', 'A'], [2, 'Y', 'B'], [3, 'X', 'C']]

In [63]:
sorted(data, key =lambda x:x[2], reverse = True)

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

# Generator Function

In [64]:
for i in (1,2,3,4):
    print(i)

1
2
3
4

In [67]:
for i in range(1,5):
    print(i)

1
2
3
4

In [88]:
def my_gen(s,e):
    for i in range(s,e+1):
        
        return i
    
abc = my_gen(1,10)
print(my_gen(1,10))
# print(next(abc))
# print(next(abc))

1

In [73]:
def my_gen(s,e):
    for i in range(s,e+1):
        
        yield i
    
abc = my_gen(1,10)
print(next(abc))
print(next(abc))

1
2

In [74]:
for i in my_gen(1,10):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Recursive

In [80]:
def abc(n):
    print(n)
    if n == 0:
        return
    else:
        return abc(n-1)
abc(5)

5
4
3
2
1
0