# Dictionary : 
* Always start with { }
* Key and values
* : seperator between key and values
* key should be int or string
* values can be anything
{
    key1: value1,
    key2: value2,
    key3: value3,
    
}

We use dictionary because to store tha data in meangingful form. The database uses Dictionary

In [4]:
data = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : 'Master',
    'Age' : 28,
    'Skills ' : ['AI', 'Web Dev', 'Data Science']
}
data

{'Frist_Name': 'Sohail',
 'Second_Name': 'Danyal',
 'Education': 'Master',
 'Age': 28,
 'Skills ': ['AI', 'Web Dev', 'Data Science']}

# How to access values from Dic
 
 * DictName['Key']

In [34]:
data = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
print(data['Age'])
print(data["Education"])
print(data["skill"])
print(data[0])
data['Second_Name'] = 'Hamza'
data

[28, 23]
['Master', 'Bsc', 'Fsc']
['AI', 'ML']
Pakistan

{'Frist_Name': 'Sohail',
 'Second_Name': 'Hamza',
 'Education': ['Master', 'Bsc', 'Fsc'],
 'skill': ['AI', 'ML'],
 'Age': [28, 23],
 0: 'Pakistan'}

In [15]:
print(data['Education'])

Master

# Saving Dict as Tabular form

In [19]:
import pandas as pd
data1 = {
    'Name':['Sohail', 'Danyal', 'Hamza'],
    'Father_Name' : ['Zaman', 'Zaman', 'Qamar'],
    'Couses' : ['AI', 'ML', 'DS']
    
    
}
dat = pd.DataFrame(data1)
dat

     Name Father_Name Couses
0  Sohail       Zaman     AI
1  Danyal       Zaman     ML
2   Hamza       Qamar     DS

# Adding Values to the Dict

In [44]:
data2 = {}
data2['name'] = 'sohail'
data2['fname'] = 'Qamar'
data2['Edu'] = 'Ms'
print('Orginal_DIC : ', data2)
data2['name'] = 'SOHAIL'
print('Name_Value_Changed ',data2)
data2[' name'] = data2['name'] + " AI student"
print( 'Concatenated_DICT : ', data2)

Orginal_DIC :  {'name': 'sohail', 'fname': 'Qamar', 'Edu': 'Ms'}
Name_Value_Changed  {'name': 'SOHAIL', 'fname': 'Qamar', 'Edu': 'Ms'}
Concatenated_DICT :  {'name': 'SOHAIL', 'fname': 'Qamar', 'Edu': 'Ms', ' name': 'SOHAIL AI student'}

In [45]:
dir(data2)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# .clear ; how to empty the dict

In [48]:
data4 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
print(data4)
data4.clear()
print(data4)

{'Frist_Name': 'Sohail', 'Second_Name': 'Danyal', 'Education': ['Master', 'Bsc', 'Fsc'], 'skill': ['AI', 'ML'], 'Age': [28, 23], 0: 'Pakistan'}
{}

# .copy()  : how to copy the dcit   (Deep and shallow copy)

In [49]:
data5 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
data6 = data5.copy()
print(data6)

{'Frist_Name': 'Sohail', 'Second_Name': 'Danyal', 'Education': ['Master', 'Bsc', 'Fsc'], 'skill': ['AI', 'ML'], 'Age': [28, 23], 0: 'Pakistan'}

# from keys

In [1]:
data7 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
dict.fromkeys

# Get : it is used to not get any error although the key is not present. We can pass certain output

In [10]:
data8 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
print(data8.get('Frist_Name'))
print(data8.get('Name', 'not avaible'))

Sohail
not avaible

In [16]:
data9 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
print('Items Output : ',data9.items())
print('keys Output : ', data9.keys())
print('values Output : ', data9.values())

Items Output :  dict_items([('Frist_Name', 'Sohail'), ('Second_Name', 'Danyal'), ('Education', ['Master', 'Bsc', 'Fsc']), ('skill', ['AI', 'ML']), ('Age', [28, 23]), (0, 'Pakistan')])
keys Output :  dict_keys(['Frist_Name', 'Second_Name', 'Education', 'skill', 'Age', 0])
values Output :  dict_values(['Sohail', 'Danyal', ['Master', 'Bsc', 'Fsc'], ['AI', 'ML'], [28, 23], 'Pakistan'])

In [26]:
data10 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
print('values Output : ')
for i in data10.values():
    print(i)
print('keys Output : ')
for i in data10.keys():
    print(i)
print('items Output : ')
for i, k in data10.items():
    print(i, k)

values Output :
Sohail
Danyal
['Master', 'Bsc', 'Fsc']
['AI', 'ML']
[28, 23]
Pakistan
keys Output :
Frist_Name
Second_Name
Education
skill
Age
0
items Output :
Frist_Name Sohail
Second_Name Danyal
Education ['Master', 'Bsc', 'Fsc']
skill ['AI', 'ML']
Age [28, 23]
0 Pakistan

In [25]:
for i in ['Age', 0]:
    print( data10[i])

[28, 23]
Pakistan

# pop :  it del the key but keep the value of that key

In [45]:
import pandas as pd
data11 = {
    'Frist_Name': 'Sohail',
    'Second_Name' : 'Danyal',
    'Education' : ['Master','Bsc','Fsc'],
    'skill' : ['AI', 'ML'],
    'Age' : [28,23] ,
    0 : 'Pakistan'
}
b = []
a = data11.pop('Frist_Name')
print(data11)
b.append(a)
print(b)

{'Second_Name': 'Danyal', 'Education': ['Master', 'Bsc', 'Fsc'], 'skill': ['AI', 'ML'], 'Age': [28, 23], 0: 'Pakistan'}
['Sohail']

In [46]:
dataa ={
    'Name' : ['sohail','danyal', 'hamza'],
    'age' : [28,29, 22],
    'Edu' : ['Ms', 'MS', 'BS']
}
dat = pd.DataFrame(dataa)
print(dat)

     Name  age Edu
0  sohail   28  Ms
1  danyal   29  MS
2   hamza   22  BS